.container{
    width: 50%;
    margin: auto;
    background-color: aquamarine;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.kalkulator{
    display: flex;
}